*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.maincontainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(191, 174, 50), rgba(13, 79, 26, 0.653));
    padding: 10px;
}

.container{
    min-height: 400px;
    max-width: 540px;
    border: 5px solid white;
    padding: 20px 50px;
    margin: 100px auto 20px;
    border-radius: 35px;
}

.container h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container h2 img {
    width: 30px;
    margin: 1cqh;
}


.main{
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #f0f8ff; 
    padding-left: 5px;
}

.main input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 1rem;
}
.main button{
    padding: 11px 26px;
    border-radius: 30px;  
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    background-color: rgb(236, 112, 10);
    color: white;
}

.main button:hover{
    text-decoration: underline;
    cursor: pointer;
}


.inputdiv{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 30px;
    height: 40px;
    padding: 10px 20px;
    background-color: rgba(252, 255, 252, 0.653);
    justify-content: space-between;
}


.deleBtn{
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    background-color:white;
    color: black;
    text-decoration: none;
}

.deleBtn:hover{
    background-color: rgba(252, 255, 252, 0.715);
    border: 1px solid black;
}

.donebtn{
    margin-left: 300px;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
    background-color:white;
}

.donebtn:hover{
    background-color: rgba(252, 255, 252, 0.715);
    border: 1px solid black;
}

