* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.main-container {
    background: linear-gradient(#3b464e, #95c0ff);
    margin: 0px auto;
}

button:hover {
    cursor: pointer;
}

.main {
    width: auto;
    min-height: 100vh;
    margin: 0 auto;
}

h2 {
    padding: 5px 5px;
    text-align: center;
    font-size: xx-large;
}

.btn {
    position: relative;
    top: 20px;
    left: 50px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(166, 149, 149);
    transition: ease-in-out 0.3s;
}

.btn:hover {
    background-color: rgb(117, 101, 101);
    border-radius: 10px;
    text-decoration: underline;
}


.input-Box {
    height: 100px;
    width: 320px;
    margin: 50px;
}

.input-text {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
}

.savebtn {
    background-color: rgb(166, 149, 149);
    padding: 5px 5px;
    color: white;
    transition: ease-in-out 0.3s;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.savebtn:hover {
    background-color: rgb(117, 101, 101);
    border-radius: 10px;
}

.deletebtn {
    background-color: rgb(166, 149, 149);
    color: white;
    padding: 5px 5px;
    border: none;
    transition: ease-in-out 0.3s;
}

.deletebtn:hover {
    background-color: rgb(117, 101, 101);
    border-radius: 10px;
}