*{
    margin: 0px;
    padding:0px;
    font-size: large;
    font-family: 'Lucida Sans';
}

.container{
    height: 745px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 104, 128);
}
.main{
    background-color: rgb(19, 145, 187);
    border:none;
    height: 50vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#mainText{
    height: 20px;
    width: 33;
    margin: 10px;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    color: black;
    border-radius: 10px;
    background-color: white;
}

.left{
    position: relative;
    top: 5px;
    margin-left: 10px;
}
input{
    width: 20px;
    background-color: white;
}
#passlength{
    width: 35px;
}
.right{
    position: relative;
    top: -15px;
    left: 260px;
}

button{
    height: 50px;
    width: 35vh;
    align-self: center;
    border-radius: 10px;
}