.content{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 125px;
    left: 135px;
    justify-content: space-around;
    
}

.imagecontainer img{
    border-radius: 10px;
}

.channel-logo{
    display: flex;
    /* flex-direction: row;  */
    /* margin: 5px 10px; */
}

.channel-logo-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    height: 35px;

    border-radius: 25px;
}


.written-content{
    margin: 5px 5px;
    /* padding: 2px; */
}