/* Styling CSS for Navbar of youtube */

.navigation-bar {
    display: block;
    border: 2px solid black;
    height: 56px;
}

/* Left side styling  (three lines and youtube logo */
.left {
    display: inline-block;
    margin: 15px 20px;
}

.leftElement {
    position: relative;
    margin-top: 25px;
    margin-right: 10px;
    border: 2px solid black;
}

/* Styling center part of the navbar  
Search bar, search button, voice search button */
.center {
    display: inline-block;
    margin-left: 200px;
    margin-top: 5px;
}

#centerInputBar {
    width: 512px;
    height: 40px;
    border-radius: 25px;
    padding: 1px 5px;
}


#searchbutton {
    padding: 12px;
    border-radius: 25px;
}

#voiceSearch {
    padding: 12px;
    border-radius: 25px;
}

/* Styling the right side of the navbar */

.right {
    display: inline-block;
    margin-left: 150px;
}

.rightbutton {
    margin-right: 25px;
    border-radius: 10px;
}

.right span {
    display: inline-block;
}

/* Styling left-down Navbar */


.otherBar {
    display: flex;
}

.leftbar {
    display: flex;
    flex-direction: column;
    width: 90px;
    border-right: 2px solid black;
}

.leftbarIcon {
    font-size: 15px;
    border: 2px solid black;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}



/* Genre Bar styling */

.genre {
    width: auto;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}

.typeOfGenre {
    display: inline-block;
    margin-left: 8px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
}